[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
bind-address = 0.0.0.0

# Development settings
max_connections = 100
innodb_buffer_pool_size = 128M
query_cache_size = 32M
query_cache_type = 1
